@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
html{
    font-family: Gilroy-Bold sans-serif;
}
body{
    margin: 0;
}

.header{
    padding: 45px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 1170px;
    width: 1170px;
    height: 40px;
    top: -367px;
    left: -566px;
    border: 1px;
    margin-left: auto;
    margin-right: auto;


}
.heder_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 533px;
}
.menu{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: flex;
}
.intro{
    display: flex;
    /*gap: 128px;*/
    justify-content: space-between;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;

}

.main_block_one{
    color: #000;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main_block_two{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;

}
.button_style{
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.non_button{
    color: #AAA;
    font-family: Gilroy-Bold;
    text-decoration: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo{
    width: 1200px;
    margin-top: 178px;
    padding: 97px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.three_cards{
    width: 1203px;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.card{
    width: 381px;
    padding: 40px 31px 0px 35px;
}

.card_text1{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_text2{   
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.card_text3{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.semenar_3th{
    display: flex;
    justify-content: center;
    margin: 92px 0px 0px 0px;;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.semenar_3th1{
   
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    justify-content: center;

}
.semenar_3th2{
    
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-column-gap: 30px;
    justify-content: center;
}

.centr{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card_text22{   
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 310px;
    text-align: center;
    margin: -2px 0px 39px 0px;

}